.imgs-items {
  display: flex;
  justify-content: space-between;
  visibility: visible;
    animation-duration: 0.8s;
    animation-delay: 0.5s;
    animation-name: fadeInUp;
  
}

.imgs-style {
  position: relative;
  width: 100%;
  display: block;
}
.dark-vertion div {
  color: #fff;
}
.portfolio-nav {
  text-align: center;
  margin-bottom: 50px;
}
.portfolio-nav {
  margin: 0 auto;
  margin-bottom: 40px;
}
.portfolio-nav ul {
  margin: 0 auto;
  float: none;
  text-align: center;
}

.portfolio-nav ul li {
  display: inline-block;
  margin: 0 20px;
  cursor: pointer;
}
.portfolio-nav ul li.current span {
  border-bottom: 2px solid #0bceaf;
}
.portfolio-nav ul li span {
  padding: 15px 0;
  border-bottom: 2px solid transparent;
}
